name: weibo_hot

on:
  # At minute 5 past every 6th hour.
  # schedule:
    # - cron: "*/30 * * * *"
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
      # 克隆仓库
      - name: Clone repo
        uses: actions/checkout@v2

      # 配置python环境
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      # 安装python依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f ./script/requirements.txt ]; then pip install -r ./script/requirements.txt; fi

      # 配置git
      - name: Config git
        run: |
          git config --local user.email "shonee@gmail.com"
          git config --local user.name "shonee"
          git remote set-url origin "https://${{ github.actor }}:${{ github.token }}@github.com/${{ github.repository }}"
          # git remote set-url origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git pull --rebase origin master

      # 运行
      - name: Run python
        run: python ./script/weibo.py

      # 更新仓库
      - name: Update repo
        run: |
          git add .
          git commit -m "github treding auto update"
          git push -u origin master
