# This workflow will scrap GitHub trending projects daily.

name: zhihu_hot

on:
  # schedule:
    # 每小时整点执行
    # - cron: "0 * * * *"
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./script/requirements.txt
        
    - name: Run Scraper
      env:
        zhihu_cookie: ${{ vars.ZHIHU_COOKIE }}
      run: |
        python ./script/zhihu.py
    
    - name: Check for changes
      id: git-status
      run: |
        git diff --exit-code || echo "::set-output name=changed::true"
      continue-on-error: true
    
    # Runs a set of commands using the runners shell
    - name: Push to origin master
      # if: steps.git-status.outputs.changed == 'true'
      run: |
        echo start push
        ls
        git config --global user.name "shonee"
        git config --global user.email "shonee@gmail.com"
        git add .
        git commit -m $(date '+%Y-%m-%d')
        git push
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        
